<!-- src/app/dashboard/reportes/reportes.component.html -->
<div class="reportes-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reportes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Generar un listado de productos en formato PDF.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="generatePDF()">Generar Listado de productos en PDF</button>
      </mat-card-actions>
    </mat-card>
  </div>
  